<div class="article-card">
   <div class="blog-posts__image-container">
    <img src="{{ article.image | img_url: 'large' }}">
  </div>

  <div class="blog-posts__excerpt">
    {{ article.excerpt }}
  </div>
</div>
