<style>
  {{ section.settings.font | font_face }}

  .blog-posts__excerpt { font-family: {{ section.settings.font.family }}; }

  .blog-posts__excerpt { font-size: {{ section.settings.font_size }}vw; }
</style>

<section>
{% assign blog = blogs[section.settings.blog] %}
{% for article in blog.articles %}
  {% include 'article-card' with article %}
{% endfor %}

</section>

{% schema %}
{
  "name": "Blog Posts",
  "settings": [
    { "type": "text", "id": "title", "label": "Heading", "default": "Blog Posts" },
    { "id": "blog", "type": "blog", "label": "Blog" },
    { "type": "range", "id": "post_limit", "label": "Posts", "min": 1, "max": 12, "step": 1, "default": 1 },
    { "type": "font_picker", "id": "font", "label": "Font", "default": "helvetica_n4" },
    { "type": "range", "id": "font_size", "label": "Font Size", "min": 1.4, "max": 1.7, "step": 0.1, "unit": "vw", "default": 1.4 }
  ],
  "presets": [{
    "name": "Blog posts",
    "category": "Blog",
    "settings": {
      "blog": "News",
      "post_limit": 1,
      "font": "helvetica_n4",
      "font_size": 1.4
    }
  }]
}
{% endschema %}
