<section>
  {%- assign product = all_products[section.settings.product] -%}
  {% include 'product-detail' with product %}
</section>

{% schema %}
  {
    "name": "Featured Product",
    "settings": [
      { "type": "text", "id": "title", "label": "Heading", "default": "Featured Product" },
      { "id": "product", "type": "product", "label": "Product" }
    ],
    "presets": [
      { "name": "Featured Product", "category": "Product" }
    ]
  }
{% endschema %}