<section class="image-with-text">
  <div class="image-with-text__image">
    <img src="{{ section.settings.image | img_url: '450x450' }}">
  </div>

  <div class="image-with-text__text">

  </div>
</section>

{% schema %}
{
  "name": "Image with Text",
  "settings": [
    { "type": "image_picker", "id": "image", "label": "image" },
    { "type": "header", "content": "Text" },
      { "type": "font_picker", "id": "font_family", "label": "Font", "default": "helvetica_n4" },
      { "type": "range", "id": "font_size", "label": "Font Size", "min": 3, "max": 7, "step": 0.2, "unit": "vw", "default": 5 },
      { "type": "text", "id": "title", "label": "Heading", "default": "Image with Text" },
      { "type": "richtext", "id": "text", "label": "text", "default": "<p> Your Text Here </p>" } 
  ],
  "presets": [{
    "name": "Image with Text",
    "category": "Image"
  }]
}
{% endschema %}
