.product-card__wrapper {
  //take
  background-color: $bg-color-wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 30vw;
}

.product-card__text {
  //take
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card__image img {
  //take
  width: 20vw;
  height: 20vw;
}
