body {
  color: $color-body;
  font-family: $body-font;
  font-size: $body-font-size;
  background-color: $bg-color-page;
}

button {
  color: $color-btn;
  background-color: $bg-color-btn;
  border-style: solid;
  border-color: $border-secondary;
  border-width: 2px;
  &:active {
    background-color: $bg-color-btn-click;
  }
}

h1 {
  color: $color-heading;
  font-family: $header-font;
  font-size: $header-font-size
}

a {
  color: $color-links;
  font-family: $link-font;
  font-size: $link-font-size;
  text-decoration: none;
  &:hover {
    color: $color-links-hover;
    transition: .3s
  }
}
