$color-heading: #{ '"{{ settings.color_headings}}"' };
$color-body: #{ '" {{ settings.color_body }}"'};
$color-links: #{ '" {{ settings.color_links }}"'};
$bg-color-page: #{ '" {{ settings.bg_color_page }}"' };

body {
  color: $color-body;
  background-color: $bg-color-page;
}

h1 {
  color: $color-heading;
}

a {
  color: $color-links;
  text-decoration: none;
}