/********** Fonts **********/
/*** Font Families ***/
$header-font: var(--header-font);
$link-font: var(--link-font);
$body-font: var(--body-font);

/*** Font Size ***/
$header-font-size: var(--header-font-size);
$link-font-size: var(--link-font-size);
$body-font-size: var(--body-font-size);