.blog-posts__image-container {
  width: 50vw;
  height: 35vw;
  
  img {
    width: 100%;
    height: 100%;
    border-radius: 3vw;
  }
}

.blog-posts__excerpt {
  width: 25vw;
}

.article-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3vw;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .article-card {
    flex-direction: column;
    align-items: center;
  }

  .blog-posts__excerpt {
    width: 80vw;
  }

  .blog-posts__image-container {
    width: 80vw;
    height: 35vw;
  }
}
