#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  height: 15vw;
}

.navigation-menu {
  display: flex;
  align-items: center;
  flex-grow: 3;
  justify-content: space-around;
  height: 4vw;
}
