.image-with-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.image-with-text__image {
  width: 40vw;
  min-width: 250px;

  img {
    width: 100%;
  }
}

.image-with-text__text {
  width: 40vw;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
